:root {
    --primary-color: #fff9f9;
    
}

* {
    box-sizing: border-box;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    text-align: right;
    font-size: 19px;
    border-radius: 5px;
}


 body {
     background-color: rgb(208, 227, 243);
     font-family:'Times New Roman', Times, serif;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 90vh;
     margin: 0;
     padding: 20px;
     background-image: url('img/a.jpg');
     background-size: cover;
     background-repeat: no-repeat;

 }

 h1 {
     
     text-shadow: 2px 2px 4px #d7eeff;
     font-size: 50px;
     font-style: italic;
    
 }

 img{
    -webkit-box-shadow: 0px 0px 1px 5px #9babbb;
    -moz-box-shadow: 0px 0px 3px 5px #abc2cf;
    box-shadow: 0px 0px 3px 5px #c0d3e7; 
    box-shadow: 0px 0px 5px rgb(237, 253, 255);
    border-radius: 8px;
}

select {
    font-size: 25px; 
}

p {
    text-align: center;
    font-size: 30px;
}

.s-img {
    align-items: center;
    height: 300px;
    width: 300px;
}



.currency {
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.select {
    box-sizing: border-box;
    padding: 10px 20px 10px 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #dedede;
    border-radius: 5px;
    background: transparent;
    background-image: url('data:image/svg+;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-position: center;
    background-size: 12px auto, 100%;
    background-repeat: no-repeat;
    font-size: 25px;
}


.currency {
    border: 0;
    background: transparent;
    font-size: 10px;
    text-align: center; 
}







